In [1]:
marks= int(input("enter the marks"))
if (marks <30):
    print("Fail")
elif (marks>30) & (marks<70):
    print("Average")
else:
    print("Perfect")

enter the marks54
Average

In [2]:
x=y=z="Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [4]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [5]:
b = "Hello, World!"
print(b[1:2])

e

In [6]:
#write a program to print the index of all the vowels in a string
vowels="aeiou"
sample_string= "Machinelearning"
sample_string=sample_string.lower()
for i,j in enumerate(sample_string):
    print(i,j)

0 m
1 a
2 c
3 h
4 i
5 n
6 e
7 l
8 e
9 a
10 r
11 n
12 i
13 n
14 g

In [7]:
#write a program to print the index of all the vowels in a string removing duplicates
vowels="aeiou"
sample_string= "Machinelearning"
sample_string=sample_string.lower()

output_result={}

for i,j in enumerate(sample_string):
    if j in vowels:
        output_result[j]=i
print(output_result)

{'a': 9, 'i': 12, 'e': 8}

In [8]:
#to check if a number is armstrong or not
num=input("enter a number")
power=len(str(num))
result=0
for i in str(num):
    result=result+int(i)**int(power)
if int(result)==int(num):
    print("Armstrong")
else:
    print("Not Armstrong")

enter a number556
Not Armstrong

In [10]:
#to check if numbers are amstrong or not from the list
sample_list=[153,678,123,688,2345]
def check_armstrong(num=None):
    if num==None:
        return "No Input"
    else:
        power=len(str(num))
    result=0
    for i in str(num):
        result=result+int(i)**int(power)
    if int(result)==int(num):
        return "Armstrong"
    else:
        return "Not Armstrong"

In [11]:
#check tarun is pass in how many subjects
Tarun = {
    "English" : 33,
    "Maths" : 18,
    "Science" : 60,
    "Hindi":45,
    "History": 15,
}
Pass= 0
for i,j in Tarun.items():
    if j>=33:
        Pass=Pass+1
        print("Tarun is Pass in",i)
    else:
        print("Fail")
print("Passing Subjects Count",Pass)

Tarun is Pass in English
Fail
Tarun is Pass in Science
Tarun is Pass in Hindi
Fail
Passing Subjects Count 3

In [12]:
#check if a number is prime or not
N=int(input("enter a number"))
for i in range(2,N):
    if N%i==0:
        print("Not Prime")
        break
else:
        print("Prime")

enter a number8
Not Prime

In [13]:
#to take out numbers whose sum is 13
sample_array=[3,5,6,2,8,5]
target=13
for i in sample_array:
    for j in sample_array:
        if (i+j==target) & (i!=j):
            print(i,j)

5 8
8 5
8 5
5 8

In [14]:
#to find the numbers whose sum is 13 using one loop
sample_array=[3,5,6,2,8,5]
targetsum=13
sample_array.sort()
left=0
right=len(sample_array)-1
while left<right:
    currentsum=sample_array[left]+sample_array[right]
    if currentsum==targetsum:
        print([sample_array[left],sample_array[right]])
        break
    elif currentsum<targetsum:
        left=left+1
    elif currentsum>targetsum:
        right=right-1

[5, 8]

In [15]:
#fizbuzz series from 1 to 50 
# Players take turns to count incrementally, 
#replacing any number divisible by three with the word "fizz", 
#and any number divisible by five with the word "buzz", 
#and any number divisible by both three and five with the word "fizzbuzz".
for i in range(1,51):
    if (i%3==0) & (i%5==0):
        print(i,"Fizzbuzz")
    elif (i%5==0):
        print(i,"Buzz")
    elif (i%3==0):
        print(i,"Fizz")

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 Fizzbuzz
18 Fizz
20 Buzz
21 Fizz
24 Fizz
25 Buzz
27 Fizz
30 Fizzbuzz
33 Fizz
35 Buzz
36 Fizz
39 Fizz
40 Buzz
42 Fizz
45 Fizzbuzz
48 Fizz
50 Buzz

In [16]:
#list comprehension
#all the even numbers from 1 to 50 in a list
empty_list=[]
for i in range(0,51,2):
    empty_list.append(i)
print(empty_list)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [17]:
#print all the numbers from 1000 to 9999 where all the characters are even
for i in range(1000,10000):
    if(int(str(i)[0])%2==0) & (int(str(i)[1])%2==0) & (int(str(i)[2])%2==0) & (int(str(i)[3])%2==0):
        print(i,end=",")

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,4000,4002,4004,4006,4008,4020,4022,4024,4026,4028,4040,4042,4044,4046,4048,4060,4062,4064,4066,4068,4080,4082,4084,4086,4088,4200,4202,4204,4206,4208,4220,4222,4224,4226,4228,4240,4242,4244,4246,4248,4260,4262,4264,4266,4268,4280,4282,4284,4286,4288,4400,4402,4404,4406,4408,4420,4422,4424,4426,4428,4440,4442,4444,4446,4448,4460,4462,4464,4466,4468,4480,4482,4484,4486,4488,4600,4602,4604,4606,4608,4620,4622,4624,4626,4628,4640,4642,4644,4646,4648,4660,4662,4664,4666,4668,4680,4682,4684,4686,4688,4800,4802,4804,4806,4808,4820,4822,4824,4826,4828,4840,4842,4844,4846,4848,4860,4862,4864,4866,4868,4880,4882,4884,4886,4888,6000,6002,6004,6006,6008,6020,6022,6024,6026,6028,6040,6042,6044,6046,6048,6060,6062,6064,6066,6068,6080,6082,6084,6086,6088,6200,6202,6204,6206,6208,6220,6222,6224,6226,6228,6240,6242,6244,6246,6248,6260,6262,6264,6266,6268,6280,6282,6284,6286,6288,6400,6402,6404,6406,6408,6420,6422,6424,6426,6428,6440,6442,6444,6446,6448,6460,6462,6464,6466,6468,6480,6482,6484,6486,6488,6600,6602,6604,6606,6608,6620,6622,6624,6626,6628,6640,6642,6644,6646,6648,6660,6662,6664,6666,6668,6680,6682,6684,6686,6688,6800,6802,6804,6806,6808,6820,6822,6824,6826,6828,6840,6842,6844,6846,6848,6860,6862,6864,6866,6868,6880,6882,6884,6886,6888,8000,8002,8004,8006,8008,8020,8022,8024,8026,8028,8040,8042,8044,8046,8048,8060,8062,8064,8066,8068,8080,8082,8084,8086,8088,8200,8202,8204,8206,8208,8220,8222,8224,8226,8228,8240,8242,8244,8246,8248,8260,8262,8264,8266,8268,8280,8282,8284,8286,8288,8400,8402,8404,8406,8408,8420,8422,8424,8426,8428,8440,8442,8444,8446,8448,8460,8462,8464,8466,8468,8480,8482,8484,8486,8488,8600,8602,8604,8606,8608,8620,8622,8624,8626,8628,8640,8642,8644,8646,8648,8660,8662,8664,8666,8668,8680,8682,8684,8686,8688,8800,8802,8804,8806,8808,8820,8822,8824,8826,8828,8840,8842,8844,8846,8848,8860,8862,8864,8866,8868,8880,8882,8884,8886,8888,

In [18]:
print(7 & 3)

3

In [19]:
for i in sample_list:
    result=check_armstrong(num=i)
    print(result)

Armstrong
Not Armstrong
Not Armstrong
Not Armstrong
Not Armstrong

In [22]:
#to reverse the order
sample="myNameisYashank"
sample[0:8:2]
sample[::-1]

'knahsaYsiemaNym'

In [23]:
input_value=input("enter a string to check for palindrome")
input_value=input_value.lower()
if type(input_value)==str:
    if input_value== input_value[::-1]:
        print(True)
    else:
        print(False)
else:
    print("invalid input")

enter a string to check for palindrome85
False

In [24]:
#dictionary
personal_info={"name":"Yashank","DOB":"1994","Place":"Bijnor","Num":"1234"}
personal_info["name"]
personal_info.keys()
personal_info.values()

dict_values(['Yashank', '1994', 'Bijnor', '1234'])

In [25]:
#tuple
sample=("Yashank","python","Yashank")
type(sample)
print(sample)
#how to add data in tuple using list
new = list(sample)
new.append("data science")
tuple(new)
#count
new.count("Yashank")
#index
new.index("python")
len(new[1])
#sets
sample=["Yashank","Yashank","python"]
list(set(sample))
a={"data","science","python","machine learning"}
b={"boston","data","artificial intelligence","maths"}
a.intersection(b)
a.difference(b)
b.difference(a)
a.symmetric_difference(b)
#check if a given string is ending with a vowel or not
name=input('enter a string')
if name[-1] in ("aeiou"):
    print(True)
else:
    print(False)

('Yashank', 'python', 'Yashank')
enter a stringgh
False

In [26]:
#for loops
sample=["my","name","is","Yashank"]
for i in sample:
    print(i)

my
name
is
Yashank

In [27]:
#for loops
sample=["my","name","is","Yashank"]
for i in sample:
    if i[-1] in ("aeiou"):
        print(i)
    else:
        print("not ending with vowel")

not ending with vowel
name
not ending with vowel
not ending with vowel

In [28]:
#find the sum of all the elements in the list using loop
sample=[2,7,3,8,4,7,3]
result=0
for i in sample:
    result=result+i
print(result)

34

In [29]:
#find the sum of all even and odd numbers from 0 to 255
even_sum=0
odd_sum=0
for i in range(0,256):
    if i%2==0:
        even_sum=even_sum+i
    else:
        odd_sum=odd_sum+i
print(even_sum,odd_sum)

16256 16384

In [30]:
#find the factorial of a number
num=int(input("enter the number"))
result=1
for i in range(1,num+1):
    result=result*i
print(result)

enter the number4
24

In [31]:
#while loop
name="Yashank"
n=0
while n<5:
    print(name)
    n=n+1

Yashank
Yashank
Yashank
Yashank
Yashank

In [32]:
#factorial of a number using while
fact=int(input("enter a number"))
result=1
num=1
while num<fact+1:
    result=result*num
    num=num+1
print(result)

enter a number4
24

In [34]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [35]:
thislist = ["apple", "banana", "cherry","gauva","mango"]
print(thislist[-4:-1:2])

['banana', 'gauva']

In [36]:
set1 = {"a", "b" , "c"}
set2 = {1, 'b', 3}

set1.update(set2)
print(set1)

{'a', 1, 3, 'b', 'c'}

In [37]:
#functions
def name_of_function():
    return "Yashank"

In [38]:
name_of_function()

'Yashank'

In [39]:
def check_even(num=None):
    print(num)
    if (num==None)|(num==""):
        return "No Input"
    if num==0:
        return "Invalid"
    elif num%2==0:
        return "even"
    else:
        return "Odd"

In [41]:
def fact_num(num=None):
    print(num)

In [42]:
#write a program to print fibanacci series
fibanacci=[0,1]
for i in range(2,11):
    fibanacci.append(fibanacci[-1]+fibanacci[-2])
print(fibanacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [43]:
check_even(45)

45

'Odd'

In [44]:
#convert 24 hours into 12 hours
time ="21:00"
first=int(time.split(":")[0])
second= int(time.split(":")[1])

if first == 12:
    print(str(first),":",str(second),"AM")
elif first > 12:
    final=first -12
    print(str(final),":",str(second),"PM")
else:
    print(str(first),":",str(second),"AM")

9 : 0 PM

In [46]:
sample=["my","name","is","Yashank","python",10,15.8,]
type(sample)
sample.remove("my")

In [47]:
type(sample)

list

In [48]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]

In [49]:
print(x)

Mustang

In [50]:
for i in range(5):

    if i == 2:

        pass

    else:

        print(i)

0
1
3
4

In [51]:
for i in range(5):

    if i == 2:

        continue

    print(i)

0
1
3
4

In [52]:
def multiply_by_two(x): 

 return x * 2 

result = multiply_by_two(5) 

print(result)

10

In [53]:
tuple1 = (1, 2, 3)

tuple2 = ('a', 'b')

concatenated_tuple = tuple1 + tuple2

In [55]:
my_dict = {'a': 1, 'b': 2, 'c': 3} 

result = my_dict.get('b', 0) 
print(result)

2

In [56]:
import pandas as pd
data = [10, 20, 30, 40, 50]

series_from_list = pd.Series(data)
print(series_from_list)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [58]:
import numpy as np
values = [4,11,7,14]

x = np.mean(values)

print(x)

9.0